<!--This template is for changing the password for the users.-->
{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    {% if messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    <h1>Change Password.</h1>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" name="" value="Change Password">
    </form>
  </div>
</div>

{% endblock %}