{% extends 'classroom/base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron">

    {% if student.student_material.count == 0 %}
    <h2>No Study Material / Lecture Yet</h2>
    {% else %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Uploaded By</th>
          <th scope="col">Uploaded At</th>
          <th scope="col">Download</th>
        </tr>
      </thead>
      <tbody>
        {% for material in student.student_material.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ material.material_name }}</td>
          <td>{{ material.teacher }}</td>
          {% comment %} <td>{{ assignment.created_at }}</td> {% endcomment %}
          <td>{{ material.created_at }}</td>
          <td><a href="{{ material.material.url }}" class="btn btn-primary" target="_blank">Download</a></td>

        </tr>

        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}