{% extends 'classroom/base.html' %}
{% block content %}

{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  {% for message in messages %}
  <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="container">
  <div class="jumbotron">
    {% if teacher.teacher_material.count == 0 %}
    <h2>No Study Material / Lecture Uploaded Yet</h2>
    {% else %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Uploaded At</th>
          <th scope="col">Download</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for material in teacher.teacher_material.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ material.material_name }}</td>
          <td>{{ material.created_at }}</td>
          <td><a href="{{ material.material.url }}" class="btn btn-primary" target="_blank">Download</a></td>
          <td><a href="{% url 'classroom:update_material' id=material.id %}" class="btn btn-primary">Update</a></td>
          <td><a href="{% url 'classroom:material_delete' id=material.id %}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}