{% extends 'classroom/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    {% if material_uploaded %}
    <h1>Study Material / Lecture is uploaded successfully.</h1>
    {% else %}
    <h1>Upload Study Material / Lecture</h1>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      <input type="submit" class="btn btn-danger" name="" value="Upload">
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}